@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Inter, sans-serif;
    background-color: #f9de59;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}

#brand {
    background-color: #c33124;
    color: white;
}

nav {
    background-color: #db4a3d;
}

nav ul {
    list-style: none;
}

nav a {
    color: white;
}

footer {
    background-color: #c33124;
    color: white;
}

.card2 {
    background-color: white;
    border-radius: 10px;
    
}

aside {
    background-color: #a1dffb;
    padding: 1rem;
}

.popular-recipes a {
    color: #c33124;
    padding: 0 1rem;
}

.popular-recipes a:hover {
    color: #f98365;
    padding: 0 1rem;
}

.courses h4 {
    color: #f98365;
}